{% extends "base.html.twig" %}
{% block title %} ajout d'un utilisateur {% endblock %}

{% block content %}
<form action="{% if edit is defined %}/dashboard/user/edit/{{values.id}} {% else %} /dashboard/user/add {% endif %}" method="post">
{% if error is defined %}
<div class ="alert alert-warning" role="alert">
Veuillez corriger les erreurs
</div>
{% endif %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" placeholder="nom" name="nom" value="{{values.nom}}">
      {% if error.nom is defined %}
<small class ="alert text-danger" >
Veuillez saisir un nom
</small>
{% endif %}
    </div>
    <div class="form-group col-md-6">
      <label for="prenom">Prénom</label>
      <input type="text" class="form-control" id="prenom" placeholder="prenom" name="prenom" value="{{values.prenom}}">
      {% if error.prenom is defined %}
<small class ="alert text-danger" >
Veuillez saisir un prenom
</small>
{% endif %}
    </div>
    <div class="form-group col-md-6">
      <label for="mail">Email</label>
      <input type="email" class="form-control" id="mail" placeholder="mail" name="mail" value="{{values.mail}}">
      {% if error.mail is defined %}
<small class ="alert text-danger" >
Veuillez saisir un mail
</small>
{% endif %}
    </div>
    <div class="form-group col-md-6">
      <label for="telephonee">téléphone</label>
      <input type="text" class="form-control" id="telephone" placeholder="numero téléphone" name="telephone" value="{{values.telephone}}">
      {% if error.telephone is defined %}
<small class ="alert text-danger" >
Veuillez saisir un telephone
</small>
{% endif %}
    </div>
  </div>

  <button type="submit" class="btn btn-primary">{% if edit is defined %}Modifier {% else %}Enregistrer {% endif %}</button>
  <input type="hidden" name="form_user" value="1">
</form>

 
{% endblock %}